<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cinemaapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".WatchListActivity"
            android:exported="false" />
        <activity
            android:name=".Reviews"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ActionBooking"
            android:exported="false" />
        <activity
            android:name=".genres.Action"
            android:exported="false" />
        <activity
            android:name=".booking.ViewBookings"
            android:exported="false" />
        <activity
            android:name=".ActivityVideoDetails"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>